body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
  Background-color: lightgray;
}
  
#Encabezado{
  background-color: gray;
  color: white;
  border:1px solid black;
}

#About me{
  background-color: gray;
  color: white;
  border:1px solid black; 
}
